---
---

//
// IMPORTS
//

@import "reset";
@import "open-color";
@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
  color: $base-color;
  line-height: 1.7em;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2em;
  margin: 1em 0 16px;
  padding: 0;

  @include mobile {
    line-height: 1.6em;
  }
}

h1, h2, h3, h5 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  color: $base-lighten-color;
}

h6 {
  color: $base-lighten-color;
}

p {
  color: $text-color;
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:hover, &:active {
    color: $link-lighten-color;
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

hr {
  border: 0;
  border-top: 1px solid $divider-color;
  margin: 1.5em auto;
}

// Yeun's list style
// https://gist.github.com/yeun/d824fc7b04b756508f4b0143535cec30

ol, ul {
  > li {
    &:before {
      position: absolute;
      width: $li-bullets-width;
      margin-left: -$li-bullets-width;
      display: inline-block;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

ul {
  > li:before {
    content: "\2022";
    padding-right: $ul-bullets-right-space;
    font-family: $ul-bullets-font;
    font-size: $ul-bullets-font-size;
    line-height: $ul-bullets-font-line-height;
  }
}

ol {
  counter-reset: section;

  > li:before {
    counter-increment: section;
    content: counter(section) ".";
    padding-right: $ol-bullets-right-space;
    font-family: $ol-bullets-font;
    font-size: $ol-bullets-font-size;
    line-height: $ol-bullets-font-line-height;
  }
}

ol, ul {
  > li {
    margin: 0 auto $li-bottom-space $li-bullets-width;
    line-height: $li-line-height;

    > ol,
    > ul {
      margin-top: $li-bottom-space;
    }
  }
}

li {
  > ol,
  > ul {
    > li {
      font-size: ($li-child-size-ratio * 1em);
      margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
    }
  }
}

// Definition list
dt {
  float: left;
  width: $dt-width;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: $li-bottom-space;

  @include mobile {
    width: 120px;
  }
}

dd {
  margin-left: $dd-position;
  margin-bottom: $li-bottom-space;

  @include mobile {
    margin-left: 140px;
  }
}

// Table
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-color;
}

// Blockquote
blockquote {
  font-weight: 300;
  padding: 0 0 0 1.4rem;
  margin: 0 2rem 1rem 0;
  border-left: .2em solid $blockquote-border-color;

  p {
    color: $blockquote-color;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Footnote
a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 0 2px;
    font-size: $small-font-size;
    text-align: center;
    border: 1px solid $footnote-link-border-color;
    border-radius: 2px;
    -webkit-text-stroke: 0.25px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $footnote-link-background-over-color;
    }
  }
}

.footnotes {
  border-top: 1px solid $divider-color;
  font-size: $small-font-size;
}

// Image
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1em;
  border-radius: 5px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
//  color: $selection-color;
  background: $selection-background-color;
}
::selection {
//  color: $selection-color;
  background: $selection-background-color;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Alignment
.center {
  text-align: center;

  &-image {
    margin: 0 auto;
    display: block;
  }
}

.right {
  text-align: right
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .sidebar
//

.wrapper-sidebar {
  width: 30%;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: $background-color;
	height: 100%;
	top: 0;
	left:0;
	position: fixed;
	z-index: 4;
  border-right: 1px solid $divider-color;

  @include mobile {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    position: relative;
    border-bottom: 1px solid $divider-color;
    border-right: 0;
  }
}

.sidebar {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  text-align:center;
  margin: 100px auto 0;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .site-avatar {
    margin:0 auto;
    display: block;
    max-width: 200px;
    max-height: 200px;

    @include mobile {
      max-width: 120px;
      max-height: 120px;
    }

    img {
      display: inline-block;
      border-radius: 2px;
    }
  }
}

.site-name {
  margin: 0 auto;
  color: $base-color;
  cursor: pointer;
  font-family: $base-font;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: 15px auto;
  color: $base-lighten-color;
  font-size: 16px;

  @include mobile {
    margin: 10px auto;
  }
}

.navlist{
  text-align:center;
}

nav {
  display: block;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $base-font;
  font-weight: 500;
  font-size: 18px;

  @include mobile {
    margin-top: 9px;
    font-size: 16px;
  }

  a {
    margin: 0 10px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $link-color;
    }
  }
}

// content

.wrapper-content {
  float: right;
  width: 70%;

  @include mobile {
    float: none;
    width: 100%;
  }
}

// Posts

.posts{

  .tag {
    display: inline;
    font-weight: 300;
    font-size: $small-font-size;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: .5px 4px;
        color: $base-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;

        &:hover {
          color: $link-color;
          background-color:$link-bghv-color;
        }
      }
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $divider-color;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}


.pinned .feather-anchor {
  color: $base-lighten-color;
  padding: 2px;
  margin-right: 8px;
}


.date {
  font-weight: 300;
  font-size: $small-font-size;
  color: $base-lighten-color;
  margin-right: 4px;
}

.author{
  font-weight:700;
  font-size:$small-font-size;
  color: $base-lighten-color;
  margin-right: 4px;
}


.post {

  h1 {
    margin-bottom: .1em;
  }


  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.page {
//  margin: 40px;

  @include mobile {
//    margin: 24px;
  }
}

// TOC

.toc {
  width: 240px;
  height: 100%;
  left: 30%;
  position: fixed;
  z-index: 4;
  padding: 60px 20px 0 20px;
  overflow-y: auto;
  
  &:before{
    content:"目录";
    margin: 0 0 1em 1em;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    padding-bottom: 0.6em;
    border-bottom: 3px double $divider-color;
  }

  li:before{
    content:"";
  }

  @include mobile{
    display:none;
  }
}

@media screen and (max-width:2200px) and (min-width:1200px){
  .withtoc{
    padding-left: 260px;
  }
}

// pagination

.pagination {
  border-top: 1px solid $divider-color;
  font-weight: 300;
  padding: 40px 0;
  width: 100%;
  display: inline-block;

  @include mobile {
    font-size: $small-font-size;
    padding: 24px 0;
  }

  > .prev {
    float: left;
    width: 50%;
    a {
      color: $base-lighten-color;
      border: 1px solid $divider-color;
      padding: 10px 20px;
      background: $background-color;

      &:hover, &:focus {
        color: $link-lighten-color;
        border: 1px solid $link-lighten-color;
        background-color: $link-bghv-color;
      }
    }
  }

  > .next {
    float: right;
    text-align: right;
    width: 50%;
    a {
      color: $base-lighten-color;
      border: 1px solid $divider-color;
      padding: 10px 20px;
      background: $background-color;

      &:hover, &:focus {
        color: $link-lighten-color;
        border: 1px solid $link-lighten-color;
        background-color: $link-bghv-color;
      }
    }
  }
}

// Archive
.archive {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}

// Tags
.tags > .label {
  > li:before {
    content: "";
  }

  > li {
    margin: 0;
    font-size: $small-font-size;
    font-weight: 300;
    display: inline;

    > a {
      display: inline-block;
      margin: 1px;
      color: $base-color;
      background-color: $tag-index-label-background-color;
      border-radius: 3px;

      &:hover {
        background-color: $link-bghv-color;
      }

      span {
        float: left;
        padding: .5px 5px;

        &.count {
          background-color: $tag-index-count-background-color;
          border-radius: 0 3px 3px 0;

        }
      }
    }
  }
}

.tags > .tag {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}



// Footer
.wrapper-footer-desktop {
  margin-top: 50px;
  border-top: 1px solid $footer-border-color;
  background-color: $footer-background-color;
  position: absolute;
  clear:both;
  width:100%;
  bottom:0;
  
  @include mobile {
    display: none;
  }

}

.wrapper-footer-mobile {
  display: none;
  
  @include mobile {
    display: block;
    width: 100%;
    border-top: 1px solid $footer-border-color;
    background-color: $footer-background-color;
  }
}

footer {
  padding: 20px 0;
  text-align: center;

  p {
    font-size: $small-font-size;
    color: $base-lighten-color;
  }

  .svg-icon {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 10px;
    }

    svg {
      height: 20px;
      width: 20px;
      fill: $base-lighten-color;
      
      &:hover {
        fill: $link-lighten-color;
      }
    }

    em {
      font-size: 18px;
      line-height: 1.5;
      margin-top: -.75em;
      position: absolute;
      text-align: center;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "gitalk";

.dp-highlighter{
    font-family:"Verdana",Tahoma,Lucida Grande,Arial,sans-serif;
    font-size:12px;
    background-color:#fcfcfc;
    border:1px solid #e8e8e8;
    width:99%;
    word-break:break-all;
    whitewhite-space:normal;
    overflow:auto;
    margin:0px auto
}
.dp-highlighter .bar{
    padding:2px
}
.dp-highlighter .collapsed .bar,.dp-highlighter .nogutter .bar{
    padding-left:0px
}
.dp-highlighter ol{
    margin:0px 0px 1px 32px;/* 1px bottom margin seems to fix occasional Firefox scrolling */
    padding:2px;
    color:#666
}
.dp-highlighter.nogutter ol{
    list-style-type:none;
    margin-left:0px
}
.dp-highlighter ol li,.dp-highlighter .columns div{
/*background-color: #fff;*/
    border-left:2px solid #0196e3;
    padding-left:10px;
    line-height:18px;
    list-style-type:decimal;
}
.dp-highlighter .nogutter ol li,.dp-highlighter .nogutter .columns div{
    border:0
}
.dp-highlighter .columns{
    color:gray;
    width:100%
}
.dp-highlighter .columns div{
    padding-bottom:5px
}
.dp-highlighter ol li.alt{
/*background-color: #f8f8f8;*/}
.dp-highlighter ol li span{
    color:Black
}
/* Adjust some properties when collapsed */
.dp-highlighter .collapsed ol{
    margin:0px
}
.dp-highlighter .collapsed ol li{
    display:none
}
/* Additional modifications when in print-view */
.dp-highlighter .printing{
    border:none
}
.dp-highlighter .printing .tools{
    display: none !important
}
.dp-highlighter .printing li{
    display: list-item !important
}
/* Styles for the tools */
.dp-highlighter .tools{
    padding:3px 8px 3px 15px;
    border-bottom:1px solid #2B91AF;
    font:9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
    color:silver
}
.dp-highlighter .collapsed .tools{
    border-bottom:0
}
.dp-highlighter .tools a{
    font-size:9pt;
    color:gray;
    text-decoration:none;
    margin-right:10px
}
.dp-highlighter .tools a:hover{
    color:red;
    text-decoration:underline
}
/* About dialog styles */
.dp-about{
    background-color:#fff;
    margin:0px;
    padding:0px
}
.dp-about table{
    width:100%;
    height:100%;
    font-size:11px;
    font-family: Tahoma, Verdana, Arial, sans-serif !important
}
.dp-about td{
    padding:10px;
    vertical-align:top
}
.dp-about .copy{
    border-bottom:1px solid #ACA899;
    height:95%
}
.dp-about .title{
    color:red;
    font-weight:bold
}
.dp-about .para{
    margin:0 0 4px 0
}
.dp-about .footer{
    background-color:#ECEADB;
    border-top:1px solid #fff;
    text-align:rightright
}
.dp-about .close{
    font-size:11px;
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    background-color:#ECEADB;
    width:60px;
    height:22px
}
/* Language specific styles */
.dp-c{}
.dp-c .comment{
    color:green
}
.dp-c .string{
    color:blue
}
.dp-c .preprocessor{
    color:gray
}
.dp-c .keyword{
    color:blue
}
.dp-c .vars{
    color:#d00
}
.dp-vb{}
.dp-vb .comment{
    color:green
}
.dp-vb .string{
    color:blue
}
.dp-vb .preprocessor{
    color:gray
}
.dp-vb .keyword{
    color:blue
}
.dp-sql{}
.dp-sql .comment{
    color:green
}
.dp-sql .string{
    color:red
}
.dp-sql .keyword{
    color:rgb(127,0,85)
}
.dp-sql .func{
    color:#ff1493
}
.dp-sql .op{
    color:blue
}
.dp-xml{}
.dp-xml .cdata{
    color:#ff1493
}
.dp-xml .comments{
    color:green
}
.dp-xml .tag{
    font-weight:bold;
    color:blue
}
.dp-xml .tag-name{
    color:rgb(127,0,85);
    font-weight:bold
}
.dp-xml .attribute{
    color:red
}
.dp-xml .attribute-value{
    color:blue
}
.dp-delphi{}
.dp-delphi .comment{
    color:#008200;
    font-style:italic
}
.dp-delphi .string{
    color:blue
}
.dp-delphi .number{
    color:blue
}
.dp-delphi .directive{
    color:#008284
}
.dp-delphi .keyword{
    font-weight:bold;
    color:navy
}
.dp-delphi .vars{
    color:#000
}
.dp-py{}
.dp-py .comment{
    color:green
}
.dp-py .string{
    color:red
}
.dp-py .docstring{
    color:green
}
.dp-py .keyword{
    color:blue;
    font-weight:bold
}
.dp-py .builtins{
    color:#ff1493
}
.dp-py .magicmethods{
    color:#808080
}
.dp-py .exceptions{
    color:brown
}
.dp-py .types{
    color:brown;
    font-style:italic
}
.dp-py .commonlibs{
    color:#8A2BE2;
    font-style:italic
}
.dp-rb{}
.dp-rb .comment{
    color:#c00
}
.dp-rb .string{
    color:#f0c
}
.dp-rb .symbol{
    color:#02b902
}
.dp-rb .keyword{
    color:#069
}
.dp-rb .variable{
    color:#6cf
}
.dp-css{}
.dp-css .comment{
    color:green
}
.dp-css .string{
    color:red
}
.dp-css .keyword{
    color:blue
}
.dp-css .colors{
    color:darkred
}
.dp-css .vars{
    color:#d00
}
.dp-j{}
.dp-j .comment{
    color:rgb(63,127,95)
}
.dp-j .string{
    color:rgb(42,0,255)
}
.dp-j .keyword{
    color:rgb(127,0,85);
    font-weight:bold
}
.dp-j .annotation{
    color:#646464
}
.dp-j .number{
    color:#C00000
}
.dp-cpp{}
.dp-cpp .comment{
    color:#e00
}
.dp-cpp .string{
    color:red
}
.dp-cpp .preprocessor{
    color:#CD00CD;
    font-weight:bold
}
.dp-cpp .keyword{
    color:#5697D9;
    font-weight:bold
}
.dp-cpp .datatypes{
    color:#2E8B57;
    font-weight:bold
}
.dp-perl{}
.dp-perl .comment{
    color:green
}
.dp-perl .string{
    color:red
}
.dp-perl .keyword{
    color:rgb(127,0,85)
}
.dp-perl .func{
    color:#ff1493
}
.dp-perl .declarations{
    color:blue
}
.dp-css .vars{
    color:#d00
}
.dp-g{}
.dp-g .comment{
    color:rgb(63,127,95)
}
.dp-g .string{
    color:rgb(42,0,255)
}
.dp-g .keyword{
    color:rgb(127,0,85);
    font-weight:bold
}
.dp-g .type{
    color:rgb(0,127,0);
    font-weight:bold
}
.dp-g .modifier{
    color:rgb(100,0,100);
    font-weight:bold
}
.dp-g .constant{
    color:rgb(255,0,0);
    font-weight:bold
}
.dp-g .method{
    color:rgb(255,96,0);
    font-weight:bold
}
.dp-g .number{
    color:#C00000
}
